<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Version</key>
	<string>1.0</string>
	<key>Name</key>
	<string>3D Maze</string>
	<key>Pages</key>
	<array>
		<string>Introduction.playgroundpage</string>
		<string>SecondLevel.playgroundpage</string>
		<string>BFS.playgroundpage</string>
		<string>Design Your Maze.playgroundpage</string>
	</array>
</dict>
</plist>
