<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ImageReference</key>
	<string>Images/HaoDong.png</string>
	<key>SwiftVersion</key>
	<string>4.0</string>
	<key>Version</key>
	<string>3.0</string>
	<key>ContentVersion</key>
	<string>2.0</string>
	<key>DevelopmentRegion</key>
	<string>en</string>
	<key>Name</key>
	<string>Maze Game</string>
	<key>ContentIdentifier</key>
	<string>com.HongHaoDong.playgrounds.wwdc-scholarship</string>
	<key>DeploymentTarget</key>
	<string>ios11.0</string>
	<key>Chapters</key>
	<array>
		<string>MazeGame.playgroundchapter</string>
		<string>AboutMe.playgroundchapter</string>
	</array>
</dict>
</plist>
